.farcaster-embed-container * {
  box-sizing: border-box;
  margin: 0 !important;
  padding: 0 !important;
}

.farcaster-embed-container {
  position: relative;
  padding: 1.5rem !important;
}

.farcaster-embed-container + .farcaster-embed-container {
  margin-top: 1.5rem !important;
}

.farcaster-embed-container::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border: 1px solid currentColor;
  border-radius: 1rem;
  opacity: 0.25;
  z-index: -1;
  pointer-events: none;
}

.farcaster-embed-container > div {
  color: inherit;
}

.farcaster-embed-metadata {
  display: grid;
  grid-template-columns: 48px 1fr;
  grid-gap: 0.75rem;
  align-items: center;
  line-height: 1.2;
}

.farcaster-embed-timestamp {
  grid-column: 1 / -1;
  opacity: 0.5;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

@media (min-width: 400px) {
  .farcaster-embed-metadata {
    grid-template-columns: 48px 1.5fr 1fr;
  }

  .farcaster-embed-timestamp {
    grid-column: 3;
    text-align: right;
  }
}

.farcaster-embed-author-avatar {
  display: inline-block;
  border-radius: 100%;
}

.farcaster-embed-author p {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.farcaster-embed-author-username {
  opacity: 0.5;
}

.farcaster-embed-body {
  margin-top: 1rem !important;
}

.farcaster-embed-body p {
  font-size: 1.125rem;
  line-height: 1.75rem;
  overflow-wrap: break-word;
  white-space: pre-wrap;
}

.farcaster-embed-image-container {
  display: flex;
  gap: 0.75rem;
  margin-top: 0.75rem !important;
}

.farcaster-embed-image-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.375rem;
  overflow: hidden;
  position: relative;
}

.farcaster-embed-image-link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  box-shadow: inset 0 0 0 1px currentColor;
  border-radius: 0.375rem;
  opacity: 0.25;
  z-index: 1;
  pointer-events: none;
  transition: 0.15s ease opacity;
}

.farcaster-embed-image-link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 0.375rem;
  opacity: 0.12;
  z-index: -1;
  pointer-events: none;
  background-color: currentColor;
}

.farcaster-embed-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: 0.25s ease-out transform;
}

.farcaster-embed-image-link:hover::before {
  opacity: 0.35;
}

.farcaster-embed-image-link:hover .farcaster-embed-image {
  transform: scale(1.05);
}

.farcaster-embed-channel {
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
  padding: 0.25rem !important;
  margin-top: 0.5rem !important;
  position: relative;
}

.farcaster-embed-channel::before {
  content: "";
  position: absolute;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  border: 1px solid currentColor;
  border-radius: 0.375rem;
  opacity: 0.3;
  z-index: -1;
  pointer-events: none;
}

.farcaster-embed-channel-avatar {
  display: inline-block;
  border-radius: 3px;
}

.farcaster-embed-channel-name {
  font-size: 0.875rem;
  line-height: 1.25rem;
  opacity: 0.5;
}

.farcaster-embed-stats {
  margin-top: 0.5rem !important;
  margin-bottom: -0.375rem !important;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.farcaster-embed-stats ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem 1.5rem;
  list-style-type: none;
  margin-top: 1rem !important;
}

@media (min-width: 400px) {
  .farcaster-embed-stats {
    align-items: center;
  }

  .farcaster-embed-stats ul {
    display: flex;
    gap: 3rem;
    margin-top: 0 !important;
  }
}

.farcaster-embed-stats li {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  opacity: 0.5;
}

.farcaster-embed-warpcast-icon {
  display: flex;
  items-align: center;
}

.farcaster-embed-warpcast-link {
  display: inline-block;
  transition: transform 0.15s ease-out;
}

.farcaster-embed-warpcast-link:hover {
  transform: scale(1.1);
}

.farcaster-embed-warpcast-link:active {
  transform: scale(0.95);
}

.farcaster-embed-video-container {
  display: grid;
  gap: 0.75rem;
  margin-top: 0.75rem !important;
}

.farcaster-embed-container media-control-bar *,
.farcaster-embed-container media-control-bar *::before,
.farcaster-embed-container media-control-bar *::after {
  padding: 0.5rem !important;
  background: transparent !important;
}

.farcaster-embed-video-player,
.farcaster-embed-video-player media-controller {
  width: 100%;
  height: 100%;
}
